.vscode/**
.vscode-test/**
src/**
tsconfig.json
**/*.ts
**/*.map
.gitignore
.package-lock.json
from_recycle_bin/**
RealAI_Recovery_SAFE/**
vscode/**
vscode_snapshot_*/**
py/**
*.md
!README.md
node_modules/**
**/*.vsix
out/**/*.map
cache-interceptor.json
core_extensions.py
extensions.json
launch.json
mcp.json
settings.json
typesMap.json
extension.ts
**/*.vsix
